.changeTheme {
	margin-left: 10px;
	margin-top: 6px;
	float: left;
	width: 40px;
	height: 40px;
}

.blackTheme {
	background-color: #17002e !important;
	color: #e0c2ff !important;
}
.nav-row { 
	color: white;
}