.status_time{
	margin-top: 60px;
	margin-right: 30px;
}

.time_block {
	width: 20px;
	height: 300px;
	margin-left: 20px;
	float:left;

	background-color: #7fff00;
	border-radius: 2px;
}

.selected {
	width: 80px;
	margin-left: 30px;
	margin-right: 10px;
}
.time_info{
	height: 300px;
	width: 20px;
	float: left;
	margin-right:20px;
	margin-left: 20px;

}
.time_info_nodisplay {
	display: none;
}
.time_str {
	margin-bottom: 22px;
}